<div *ngIf="hero">
    <mat-card class="hero-card">
        <mat-card-header>
            <mat-card-title>
                {{hero.name | uppercase}} Details
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div><span>id: </span>{{hero.id}}</div>
            <label>name:
                <input [(ngModel)]="hero.name" placeholder="name" />
            </label>
            <button mat-raised-button color="accent" (click)="save()">save</button>
            <button mat-raised-button (click)="goBack()">go back</button>

        </mat-card-content>
    </mat-card>
</div>