<div fxLayout="row wrap">
    <div *ngFor="let hero of heroes" fxFlex="25">
        <a routerLink="/detail/{{hero.id}}" class="no-underline">
            <mat-card class="hero-card" [class.selected]="hero === selectedHero">
                <mat-card-header>
                    <mat-card-title>
                        {{hero.name | uppercase}} Details
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div><span>id: </span>{{hero.id}}</div>
                    <label>name:
                        <input [(ngModel)]="hero.name" placeholder="name" />
                    </label>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</div>
<!-- <div *ngIf="selectedHero">
    Selected: <app-hero-detail [hero]="selectedHero"></app-hero-detail>

</div> -->